/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    scroll-behavior: smooth;
    font-size: 1em;
    line-height: 1.4;
}
a{
    color:black;
    text-decoration: none;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    margin: 0;
    padding:0;
    border: 0;
    display:block;
    width: 100%;
    background-color:gray;
    height: 1px;
  }

  h1, h2, h3{
    font-family: 'Playfair Display', serif;
}

   h4, p , li , button, footer{
    font-family: 'Crimson Text', serif;
}
h2{
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 2rem;
    font-weight: bold;
    font-size: 1.4rem;
}

h3{
    font-weight: bold;
    font-size: 1.1rem;
}

h4{
    font-size: 1rem;
}

p{
    font-size:.9rem;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   ========================================================================== */

html,
body {
width: 100%;
height: 100%;
}

footer{
    text-align: center;
    background-color:rgb(230, 230, 230);
}
main{
    margin-right: 1rem;
    margin-left: 1rem;
}
.interests i:nth-child(even){
    color:rgb(206, 205, 205);
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.row{
    padding-right: 0 !important;
    margin-right: 0 !important;
}

.main-header{
       line-height:initial;
       font-size: 3em;
}

.secondary-header{
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 2rem;
}
.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;

     /* Flexbox stuff */
     display: flex;
     justify-content: center;
     align-items: center;

    /* Text styles */
     text-align: center;
     color: white; /* ADD THIS LINE */

      /* Background styles */
    background-image:  url(../img/grass.JPG);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.profile-card{
    text-align: center;
}

.profile-desc{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: justify;
}
.interests{
    font-size: 2rem;
}
.avatar-experience{
    height: 9%;
    width: 9%;
    border-radius: 4rem;
}

#avatar-profile{
    padding:1rem;
    display: inline-block;
    width: 70%;
}

.experience-card{
    margin-bottom: 1rem;
    display: inline-flex;
}

.experience-details{
    display: inline;
    margin-left: 0.5rem;
}

.experience-details p{
    padding: 0;
    margin: 0;
    text-align: justify;

}

.academia{
    background-color:rgb(230, 230, 230);
    text-align: center;
}

.recognition-text{
    margin:1rem;
}

.image-banner{
    display: inline-flex;
    margin-bottom:1.5rem;
}

.card{
    padding: 0;
    width:18rem;
}

.card-text{
    text-align: justify;
}
.speech{
        width:50%;
}

.diversity, .projects{
    text-align:center;
}
.image-diversity{
    width:35%;
}
#speechaddress:hover{
opacity: 0.5;
cursor: pointer;
}

.text-diversity{
    width:90%;
}
.image-proj{
    width:45%;
}

.text-diversity-text{
    text-align: justify;
}

.chart {
  position: relative;
  display: inline-block;
  margin: 10px 10px;
  font-size: 14px;
  text-align: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 600px) {
    .image-banner{
        display: inline-block;
    }
    .speech{
        width: 90%;
    }
    .image-proj{
        width:90%;
    }
    }

@media only screen and (max-width : 800px) {
    .image-banner{
        display: inline-block;
    }

    .card{
        padding: 0;
    }
}
